$bp-md: 768px;
$bp-lg: 1200px;

// MIXINS

@mixin for-headlines{
    color: #000;
    font-family: Gilroy;
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

@mixin for-before{
  color: #000;
  font-family: Gilroy;
  font-size: 44px;
  font-weight: 200;
  line-height: 28px;
}