@import "../abstracts/variables";
@import "../components/buttons";

.contact{
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  @media (min-width: $bp-lg) {
    padding: 50px 0 100px 0;
  }
}

.contact__content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px 50px 20px;
  @media (min-width: $bp-md) {
    padding: 30px 30px 50px 30px;
  }
  @media (min-width: $bp-lg) {
    padding: 50px 70px 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

.contact__headline{
  color: #333;
  text-align: center;
  font-family: Gilroy;
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media (min-width: $bp-md) {
    margin-bottom: 40px;
    font-size: 150px;
  }
  @media (min-width: $bp-lg) {
    font-size: 155px;
    text-align: start;
    margin-right: 150px;
  }
}

.contact__container-text{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: $bp-md) {
    gap: 40px;
    align-items: center;
  }
  @media (min-width: $bp-lg) {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

}
.contact__headline-text{
  color: #252525;
  text-align: center;
  font-family: Gilroy;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  @media (min-width: $bp-md) {
    font-size: 64px;
  }
    @media (min-width: $bp-lg) {
      gap: 40px;
      text-align: start;
    }
}
.contact__paragraph-text{
  color: #252525;
  text-align: center;
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 400;
  @media (min-width: $bp-md) {
    font-size: 34px;
  }
  @media (min-width: $bp-lg) {
    text-align: start;
  }
}

.black-button{
  justify-content: center;

  &::after{
    content: url("../../img/svg/arrow-button.svg");
    position: absolute;
    top: 18px;
    right: 90px;
  }
  @media (min-width: $bp-md) {
    width: 195px;
    max-width: 195px;
    justify-content: start;
  }
  &::after{
    right: 20px;
    top: 19px;
  }
}